<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/45dc7388-1cf0-46f8-b682-adac150949a2/resourcegroups/ExamenMena_group/providers/Microsoft.Web/sites/ExamenMenaBazar</ResourceId>
    <ResourceGroup>ExamenMena_group</ResourceGroup>
    <ApiResourceId>/subscriptions/45dc7388-1cf0-46f8-b682-adac150949a2/resourceGroups/ExamenMena_group/providers/Microsoft.ApiManagement/service/ExamenMenaapi/apis/ExamenMenaBazar</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://examenmenabazar.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>40f2a0d3-36d1-4ec7-bdc6-50d569ab6e4d</ProjectGuid>
    <MSDeployServiceURL>examenmenabazar.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ExamenMenaBazar</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ExamenMenaBazar</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>