<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/45dc7388-1cf0-46f8-b682-adac150949a2/resourcegroups/ExamenMena_group/providers/Microsoft.Web/sites/BazarUniversalApi20241107172515</ResourceId>
    <ResourceGroup>ExamenMena_group</ResourceGroup>
    <ApiResourceId>/subscriptions/45dc7388-1cf0-46f8-b682-adac150949a2/resourceGroups/ExamenMenaApi_group/providers/Microsoft.ApiManagement/service/ExamenMenaApi-apim/apis/echo-api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bazaruniversalapi20241107172515.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>6b3f0304-ba0f-40ea-af5c-233bdec9611d</ProjectGuid>
    <MSDeployServiceURL>bazaruniversalapi20241107172515.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BazarUniversalApi20241107172515</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$BazarUniversalApi20241107172515</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>